*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Varela Round',"Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}



body{
    background-color: rgb(28,28,65);
    color: rgb(134,168,231);
    font-size: 16px;
    background-image: url(./images/background.png);
   
}

.navbar_ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.navbar_item:link,.navbar:active{
    
    text-decoration: none;
    color: rgb(134,168,231);
}

.navbar_item:hover,.navbar_item:visited{
    color:rgb(95,251,241)
}
#me{
    text-align: center;
    font-size: 2.5rem;
    margin: 1.5rem 0;

}

.profile_img{
    display: block;
    border-radius: 35%;
    width:50%;
    height: auto;
    margin: 1rem auto;  
}

.profile_img:hover{
    box-shadow: 10px -5px 70px rgb(95,251,241);
}

figcaption{
    text-align: center;
    margin:1.5rem 3rem 1.5rem 0rem; 
    font-size: 1.3rem;
    position: relative;
    z-index: 1;

}

.follow{
    width:20%;
    height:auto;
    position: fixed;
    right: -2rem;
    top:30rem;
    z-index: index -1;
    border-radius: 10%;
    box-shadow: -50px -7px 90px rgb(95,251,241);
}
.nav_bar_linked{
    text-align: center;
    font-size: 2.3rem;
    margin: 3rem;;
}




.in_progress{
    width: 50%;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    padding-top:2rem ;
    display: block;
}

.contact_me{
    width: 30%;
    height: auto;

}

.animate__pulse:hover{
    width: 35%;
    animation: rubberband;
    animation-duration: 3s;
  
    
}